<div class="container main-wrapper">
  <app-header></app-header>
  <div class="mb-5 product-details">
    <div class="row" *ngFor="let product of productDetails">
      <div class="col-lg-6 mb-5">
        <ngb-carousel *ngIf="imageObject">
          <ng-template *ngFor="let image of imageObject" ngbSlide>
            <div class="img-slider-wrapper">
              <img [src]="image.path" alt="{{image.alt}}" />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-lg-6">
        <ul class="mb-5">
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Article No.</span>
            <span class="col-lg-9 col-8">{{product.article_no}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Fabric Details</span>
            <span class="col-lg-9 col-8">{{product.fabric_weight + ' Ounce - ' + product.fabric}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Colors</span>
            <span class="col-lg-9 col-8">{{product.colors}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Waist Sizes</span>
            <span class="col-lg-9 col-8">{{product.sizes}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Wash Type</span>
            <span class="col-lg-9 col-8">{{product.wash_type}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Category</span>
            <span class="col-lg-9 col-8 text-capitalize">{{product.category}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Type</span>
            <span class="col-lg-9 col-8 text-capitalize">{{product.type | removeDash}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Shipping</span>
            <span class="col-lg-9 col-8">By Air, Sea, Courier etc</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Delivery</span>
            <span class="col-lg-9 col-8">30 days</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">MOQ</span>
            <span class="col-lg-9 col-8">{{product.moq}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Price</span>
            <span class="col-lg-9 col-8">${{product.price}}</span>
          </li>
          <li class="row mb-2">
            <span class="col-lg-3 col-4">Payment Terms</span>
            <span class="col-lg-9 col-8">60% Advance 40% before shipping</span>
          </li>
        </ul>
        <div class="col-12 text-end">
          <button type="button" class="btn btn-primary">Order Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>