<footer class="footer">
  <div class="container">
    <div class="mb-3 text-center">
      <app-nav-footer></app-nav-footer>
    </div>
    <ul class="social-network">
      <li><a href="https://www.facebook.com/pkapparel2" target="_blank" rel="noreferrer">facebook</a></li>
      <li class="linkedin"><a href="https://www.linkedin.com/company/pkapparel" rel="noreferrer" target="_blank">Linkedin</a></li>
    </ul>
    <p class="text-center text-white pb-3 mb-0"><strong>&nbsp;&copy;&nbsp;PK Apparel | All Rights Reserved 2022</strong></p>
  </div>
</footer>
