<div class="container main-wrapper">
  <app-header></app-header>
  <div class="row product-listing">
    <h2 class="text-center mb-2">
      <span class="text-capitalize">{{category}}</span>&nbsp; <span class="text-capitalize">{{type | removeDash}}</span>
    </h2>
    <div class="row">
      <div class="col-2">
        <app-product-filters></app-product-filters>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-lg-3 mb-5" *ngFor="let product of products | sortBy : 'desc'">
            <!-- <a [routerLink]="['/wholesale-shop/product-details/', product.articleNo]" class="d-block mb-3" target="_blank" rel="noreferrer">
              <img 
                src="{{BASE_PATH+product.product_images[0]?.path+'/'+product.product_images[0]?.name}}"
                alt={{product.product_images[0]?.path}}
                height="370"/>
            </a> -->
            <div class="product-data">
              <a [routerLink]="['/wholesale-shop/product-details/', product.article_no]" class="d-block text-center">
                <span class="text-capitalize">{{product.category | removeDash}} </span>
                <span class="text-capitalize">{{product.type | removeDash}} </span>
                <span class="text-capitalize">{{product.color}} </span>
                <span class="text-capitalize">{{product.fitting}} Fit </span>
                <span class="text-capitalize">#{{product.articleNo}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="loader" *ngIf="loader"></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
