.faqs-list h3 {
  background-color: #f5f5f5;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333333;
  padding: 10px 20px;
}
.faqs-list .accepted-answer {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333333;
  padding: 13px 18px;
}