  <form class="product-filters">
    <div class="mb-3">
      <p class="mb-2 text-bold">Category</p>
      <ul>
        <li class="row border-bottom-grey">
          <a href="#" class="col-10" (click)="setFiltersData('category', 'all')">All</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('category', 'men')">Men</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('category', 'women')">Women</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('category', 'boys')">Boys</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('category', 'girls')">Girls</a>
          <span class="col-2">0</span>
        </li>
      </ul>
    </div>
    <div class="mb-3">
      <p class="mb-2">Type</p>
      <ul>
        <li class="row border-bottom-grey">
          <a href="#" class="col-10" (click)="setFiltersData('type', 'jeans-pant')">Jeans Pants</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('type', 'chino-pant')">Chino Pants</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('type', 'cargo-trouser')">Cargo Trousers</a>
          <span class="col-2">0</span>
        </li>
      </ul>
    </div>
    <div class="mb-3">
      <p class="mb-2">Fitting</p>
      <ul>
        <li class="row border-bottom-grey">
          <a href="#" class="col-10" (click)="setFiltersData('type', 'slim')">Slim</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('type', 'straight')">Straight</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('type', 'skinny')">Skinny</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('type', 'ankle')">Ankle</a>
          <span class="col-2">0</span>
        </li>
      </ul>
    </div>
    <div class="mb-3">
      <p class="mb-2">Colors</p>
      <ul>
        <li class="row border-bottom-grey">
          <a href="#" class="col-10" (click)="setFiltersData('color', 'sky-blue')">Sky Blue</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('color', 'mid-blue')">Mid Blue</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('color', 'navy-blue')">Navy Blue</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('color', 'black')">Black</a>
          <span class="col-2">0</span>
        </li>
      </ul>
    </div>
    <div class="mb-3">
      <p class="mb-2">Washes</p>
      <ul>
        <li class="row border-bottom-grey">
          <a href="#" class="col-10" (click)="setFiltersData('wash', 'sky-blue')">Destroyed</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('color', 'mid-blue')">Ripped</a>
          <span class="col-2">0</span>
        </li>
        <li class="row border-bottom-grey mt-2">
          <a href="#" class="col-10" (click)="setFiltersData('color', 'navy-blue')">Silicone</a>
          <span class="col-2">0</span>
        </li>
      </ul>
    </div>
  </form>