  <form class="product-filters">
    <div class="mb-3">
      <p class="mb-2 text-bold">Category</p>
      <ul class="product-filters-list">
        <li class="row border-bottom-grey" [ngClass]="defaultFilters['dept']['men']? 'active' : ''">
          <a href="javascript:void(0)" class="col-10" (click)="setFiltersData('dept', 'men')">Men</a>
          <span class="col-2">(0)</span>
        </li>
        <li class="row border-bottom-grey" [ngClass]="defaultFilters['dept']['women']? 'active' : ''">
          <a href="javascript:void(0)" class="col-10" (click)="setFiltersData('dept', 'women')">Women</a>
          <span class="col-2">(0)</span>
        </li>
        <li class="row border-bottom-grey" [ngClass]="defaultFilters['dept']['boys']? 'active' : ''">
          <a href="javascript:void(0)" class="col-10" (click)="setFiltersData('dept', 'boys')">Boys</a>
          <span class="col-2">(0)</span>
        </li>
        <li class="row border-bottom-grey" [ngClass]="defaultFilters['dept']['girls']? 'active' : ''">
          <a href="javascript:void(0)" class="col-10" (click)="setFiltersData('dept', 'girls')">Girls</a>
          <span class="col-2">(0)</span>
        </li>
      </ul>
    </div>
    <div class="mb-3">
      <p class="mb-2">Type</p>
      <ul>
        <li class="row border-bottom-grey" [ngClass]="defaultFilters['category']['jeans-pant']? 'active' : ''">
          <a href="javascript:void(0)" class="col-10" (click)="setFiltersData('category', 'jeans-pant')">Jeans Pants</a>
        </li>
        <li class="row border-bottom-grey" [ngClass]="defaultFilters['category']['chino-pant']? 'active' : ''">
          <a href="javascript:void(0)" class="col-10" (click)="setFiltersData('category', 'chino-pant')">Chino Pants</a>
        </li>
        <li class="row border-bottom-grey" [ngClass]="defaultFilters['category']['cargo-trouser']? 'active' : ''">
          <a href="javascript:void(0)" class="col-10" (click)="setFiltersData('category', 'cargo-trouser')">Cargo Trousers</a>
        </li>
        <li class="row border-bottom-grey" [ngClass]="defaultFilters['category']['cargo-short']? 'active' : ''">
          <a href="javascript:void(0)" class="col-10" (click)="setFiltersData('category', 'cargo-short')">Cargo Shorts</a>
        </li>
      </ul>
    </div>
    <form class="mb-3">
      <p class="mb-2">Fitting</p>
      <ul>
        <li class="row border-bottom-grey">
          <label for="slim">
            <input type="checkbox" id="slim" checked (change)="setFiltersData('fitting', 'slim')">Slim
          </label>
        </li>
        <li class="row border-bottom-grey">
          <label for="straight">
            <input type="checkbox" id="straight" checked (change)="setFiltersData('fitting', 'straight')">Straight
          </label>
        </li>
        <li class="row border-bottom-grey">
          <label for="skinny">
            <input type="checkbox" id="skinny" checked (change)="setFiltersData('fitting', 'skinny')">Skinny
          </label>
        </li>
        <li class="row border-bottom-grey">
          <label for="ankle">
            <input type="checkbox" id="ankle" checked (change)="setFiltersData('fitting', 'ankle')">Ankle
          </label>
        </li>
      </ul>
    </form>
    <div class="mb-3">
      <p class="mb-2">Colors</p>
      <ul>
        <li class="row border-bottom-grey">
          <label for="color-sky-blue">
            <input type="checkbox" id="color-sky-blue" checked (change)="setFiltersData('color', 'sky-blue')">Sky Blue
          </label>
        </li>
        <li class="row border-bottom-grey">
          <label for="color-mid-blue">
            <input type="checkbox" id="color-mid-blue" checked (change)="setFiltersData('color', 'mid-blue')">Mid Blue
          </label>
        </li>
        <li class="row border-bottom-grey">
          <label for="color-navy-blue">
            <input type="checkbox" id="color-navy-blue" checked (change)="setFiltersData('color', 'navy-blue')">Navy Blue
          </label>
        </li>
        <li class="row border-bottom-grey">
          <label for="color-black">
            <input type="checkbox" id="color-black" checked (change)="setFiltersData('color', 'black')">Black
          </label>
        </li>
      </ul>
    </div>
    <div class="mb-3">
      <p class="mb-2">Washes</p>
      <ul>
        <li class="row border-bottom-grey">
          <label for="wash-destroyed">
            <input type="checkbox" id="wash-destroyed" checked (change)="setFiltersData('washType', 'destroyed')">Destroyed
          </label>
        </li>
        <li class="row border-bottom-grey">
          <label for="wash-ripped">
            <input type="checkbox" id="wash-ripped" checked (change)="setFiltersData('washType', 'ripped')">Ripped
          </label>
        </li>
      </ul>
    </div>
  </form>