@font-face {
  font-family: 'latoregular';
  src: url('/assets/fonts/lato-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html { height: 100%; margin: 0; padding: 0; }
body {
  min-width: 320px;
  background: #fff;
  font-family: 'latoregular';
  font-size: 16px;
  line-height: 24px;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  color: #333;
  height: 100%;
  margin: 0; 
  padding: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
} 
a { text-decoration: none; }
.section-heading {
  display: inline-block;
	background: #2d639e;
	color: #fff;
	font-size: 20px;
	line-height: 25px;
	font-weight: normal;
	border-radius: 2px;
	padding: 10px 30px;
	margin: 0 auto 20px;
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.inner-manufacture {
  display: block;
  -webkit-box-shadow: 0 0 5px 0.5px #C2C2C2;
  box-shadow: 0 0 5px 0.5px #C2C2C2;
}
.inner-manufacture img {
	display: block;
	width: 100%;
	height: auto;
}
.inner-manufacture .product-category {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.page-title {
	display: block;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	color: #2d639e;
	margin: 20px 0;
}
.main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}
.footer, .push {
  height: 200px;
}
.loader {
  width: 150px;
  height: 150px;
  background: url(assets/images/loader.gif) no-repeat 100%;
  position: absolute;
  z-index: 9999;
  left: 48%;
  top: 30%;
}
@media screen and (max-width: 768px){
  .loader { left: 35%; }
}
